.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    height: 60px;
    transition: 2s;
}

.header-logo {
    display: flex;
    align-items: center;
    height: 60px;
    z-index: 2;
    margin-right: 15px;
}

.header img {
    height: 50px;
}

.nav-toggle {
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 2;
}

.nav-toggle i {
    margin: 8px 0;
    display: block;
    width: 32px;
    height: 3px;
    border-radius: 4px;
    background-color: white;
    transition: 0.8s;
}

.nav-toggle i:last-child {
    margin-bottom: 0;
}

.nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateX(100%);
    transition: .5s ease-out;
}

.nav-menu li {
    margin: 15px 0;
}

.nav-menu a {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.mobile-nav.-open .nav-menu {
    transform: translateX(0%);
}

.mobile-nav.-close .nav-menu {
    transform: translateX(100%);
}

.mobile-nav.-open .nav-toggle i:first-child {
    opacity: 0;
    transition: .5s;
}

.mobile-nav.-open .nav-toggle {
    padding-right: 25px;
}

.mobile-nav.-open .nav-toggle i {
    background-color: black;
}

.mobile-nav.-open .nav-toggle i:nth-child(2) {
    transform: rotate(45deg);
    margin-bottom: -11px;
    transition: 0.8s;
}

.mobile-nav.-open .nav-toggle i:last-child {
    transform: rotate(-45deg);
    transition: 0.8s;
}

.mobile-nav {
    display: block;
}

.desktop-nav {
    display: none;
    color: white;
}

.desktop-nav a {
    font-weight: bold;
    color: white;
}

.other-link {
    margin: 0 15px;
    padding-bottom: 4px;
    transition: .1s;
}

.other-link:hover {
    border-bottom: 2px solid #ffffff;
    border-radius: 1px;
}

.link {
    padding: 6px 12px;
    border: 2px solid #ffffff;
    margin: 0 6px;
    border-radius: 6px;
}

.link:hover {
    color: #33ccff;
    background-color: white;
}

.black-link {
    padding: 6px 12px;
    border: 2px solid #000000;
    margin: 0 6px;
    border-radius: 6px;
}

@media screen and (min-width: 320px){
    .header {
        background-color: rgba(255, 255, 255, 0.3);
        margin-top: 0;
    }
}

@media screen and (min-width: 770px) {
    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: block;
    }

    .desktop-nav a {
        font-size: 14px;
    }

    .header {
        height: 70px;
        margin-top: 25px;
        background: rgba(255, 255, 255,0);
    }
    .header-logo {
        height: 70px;
    }
}