.block {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

.mblock1,
.mblock2 {
}

.mblock1 img,
.mblock2 img {
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 320px){
    .mblock1 img,
    .mblock2 img {
        width: 290px;
        height: auto;
    }

    .first {
        flex-wrap: wrap;
    }

    .second {
        flex-wrap: wrap-reverse;
    }

}