.slide {
    background-image: url("../img/bg-main.jpg");
    background-size: cover;
    text-align: center;
}

.main-title {
    height: 30%;
}

.main-title h2 {
    color: white;
}

@media screen and (min-width: 320px){
    .slide {
        height: calc(100vh - 60px);
        padding-top: 0;
    }

    .main-title {
        font-size: 45px;
        margin: 20%;
    }
}

@media screen and (min-width: 770px){
    .slide {
        padding-top: 25px;
        height: 100vh;
    }

    .main-title {
        margin-top: 8%;
        font-size: 64px;
    }
}