body,
h1,
h2,
h3,
h4,
p,
a,
i,
ul {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a, input {
    text-decoration: none;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.slide {
    background-image: url("../img/bg-main.jpg");
    background-size: cover;
    text-align: center;
}

.main-title h2 {
    font-size: 52px;
    color: white;
}